#logger {
	table {
		width: 100%;
	}

	thead, tbody, tr, td, th {
		display: block;
	}

	tr:after {
		content: ' ';
		display: block;
		visibility: hidden;
		clear: both;
	}

	/*thead th {*/
		/*height: 30px;*/
	/*}*/

	tbody {
		height: 200px;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	td, th {
		float: left;
		/*width: 25%;*/
		&:nth-child(1) {
			width: 100px;
		}
		&:nth-child(2) {
			width: 75px;
		}
		&:nth-child(3) {
			width: 150px;
		}
	}
}
