#logger {
  /*thead th {*/
  /*height: 30px;*/
  /*}*/ }
  #logger table {
    width: 100%; }
  #logger thead, #logger tbody, #logger tr, #logger td, #logger th {
    display: block; }
  #logger tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both; }
  #logger tbody {
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll; }
  #logger td, #logger th {
    float: left;
    /*width: 25%;*/ }
    #logger td:nth-child(1), #logger th:nth-child(1) {
      width: 100px; }
    #logger td:nth-child(2), #logger th:nth-child(2) {
      width: 75px; }
    #logger td:nth-child(3), #logger th:nth-child(3) {
      width: 150px; }
